body {
    font-family: 'Roboto', sans-serif;

}

.navbar .navbar-nav .nav-link {
    font-size: large;
}

.navbar-brand {
    color: #0d6efd;

}


.navbar .navbar-nav .nav-link:focus,
.navbar .navbar-nav .nav-link:hover {
    color: rgb(48, 231, 155);
}

.navbar .search {
    border-left: 1px solid rgb(48, 231, 155);
}

.navbar .search svg {
    color: rgb(48, 231, 155);
}

/* Start Design */
.design {
    height: 600px;
    overflow: hidden;
}


.design .image,
.design .text {
    z-index: 2;
    flex: 1;
}

.design .image {
    text-align: center;
}

.design .text {
    color: white;
    padding: 30px;
    background-color: #19283f;
    border-radius: 3%;
}

.design .text h1 {
    font-weight: normal;
    text-transform: uppercase;
    margin-bottom: 40px;
}


.design .text h2 {
    font-weight: normal;
    margin-bottom: 10px;
}

.design .text ul li {
    padding: 15px 0;
}


/* End Design */

/* Start Features */

/* Start Features */
.features {
    padding-top: 0px;
    padding-bottom: 100px;
    background-color: white;
    position: relative;
}

.features .container {
    display: grid;
    grid-template-columns: repeat(2, minmax(300px, 1fr));
    gap: 40px;
}

.features .box {
    text-align: center;
    border: 1px solid #ccc;
}

.features .box .img-holder {
    position: relative;
    overflow: hidden;
}

.features .box .img-holder::before {
    content: "";
    position: absolute;
    left: 0;
    top: -1px;
    width: 100%;
    height: 100%;
}

.features .box .img-holder::after {
    content: "";
    position: absolute;
    bottom: 0;
    right: 0;
    border-style: solid;
    border-width: 0px 0px 170px 700px;
    border-color: transparent transparent white transparent;
    transition: 0.3s;
}

.features .box .img-holder img {
    max-width: 100%;
}

.features .box:hover .img-holder::after {
    border-width: 170px 700px 0px 0px;
}

.features .box h2 {
    position: relative;
    font-size: 40px;
    margin: auto;
    width: fit-content;
}

.features .box h2::after {
    content: "";
    position: absolute;
    bottom: -20px;
    left: 15px;
    height: 5px;
    width: calc(100% - 30px);
}

.features .box p {
    line-height: 2;
    font-size: 20px;
    margin: 30px 0;
    padding: 25px;
    color: #777;
}

.features .box a {
    display: block;
    border: 3px solid transparent;
    width: fit-content;
    margin: 0 auto 30px;
    font-weight: bold;
    font-size: 22px;
    padding: 10px 30px;
    border-radius: 6px;
    transition: 0.3s;
}

.features .quality .img-holder::before {
    background-color: rgb(244 64 54 / 60%);
}

.features .quality h2::after {
    background-color: #f44036;
}

.features .quality a {
    color: #f44036;
    border-color: #f44036;
    background: linear-gradient(to right, #f44036 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}

.features .time .img-holder::before {
    background-color: rgb(0 150 136 / 60%);
}

.features .time h2::after {
    background-color: #009688;
}

.features .time a {
    color: #009688;
    border-color: #009688;
    background: linear-gradient(to right, #009688 50%, white 50%);
    background-size: 200% 100%;
    background-position: right bottom;
}



.features .box:hover a {
    background-position: left bottom;
    color: white;
}

/* End Features */

/* End Features */
/* Start Footer */
.footer {
    background-color: #19283f;
}

.footer .copyright>span {
    color: #33d1cc;
}

.footer .copyright div span {
    color: #ffc400;
}

.footer .contact ul svg {
    width: 20px;
    height: 20px;
}

.footer .facebook {
    background-color: #1877f2;
}

.footer .twitter {
    background-color: #1da1f2;
}

.footer .linkedin {
    background-color: #0077b5;
}

.footer .youtube {
    background-color: #ff0000;
}

/* End Footer */