.titl::after {
    content: "";
    width: 120px;
    height: 2px;
    background-color: rgb(48, 231, 155);
    position: absolute;
    bottom: -20px;
    left: 50%;
    transform: translateX(-50%);
}

/* End title */
/* start list */
.articles {
    padding-top: 0px;
    padding-bottom: 0px;
    position: relative;
}
span{
    width:300px;
}
td{
    width:500px;
}
.main-title {
    text-transform: uppercase;
    margin: 0 auto 80px;
    border: 2px solid black;
    padding: 10px 20px;
    font-size: 30px;
    width: fit-content;
    position: relative;
    z-index: 1;
    transition: 0.3s;
}

.main-title::before,
.main-title::after {
    content: "";
    width: 12px;
    height: 12px;
    background-color: transparent;
    position: absolute;
    border-radius: 50%;
    top: 50%;
    transform: translateY(-50%);
}

.main-title::before {
    left: -30px;
}

.main-title::after {
    right: -30px;
}





/* end list */

/* Start Features */

.table .btn {
    color: teal;
    background-color: #fff;
    border-color: teal;


}

.table .btn:hover {
    color: #fff;
    background-color: teal;
}

/* End Features */